* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.9;
}
img {
    border-radius: 0px;
    max-width: 100%;
    height: auto;
}
/* Header */
/* linear-gradient(to left, #22c1c3, #fdbb2d) */
.header {
    color: white;
    background: #132b4f;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* Navigation */
#navigation {
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    background: white;
    clear: both;
}
.navbar-nav {
    margin-left: 50px;
}
.nav-link {
    font-weight: bold;
}
.nav-link:hover {
    background-color: green;
}
/* Footer*/
.footer {
    background: #132b4f;
    color: white;
    border: grey;
    padding: 20px;
}
.fa {
    padding: 20px;
    font-size: 30vw;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #0000ff;
    color: white;
}

.fa-youtube {
    background: #0000ff;
    color: white;
}

.fa-instagram {
    background: #0000ff;
    color: white;
}
/*About us */
.about-us {
    background-origin: padding-box;
    color: white;
    background: linear-gradient(to left, #22c1c3, #fdbb2d);
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.more-about-us {
    width: 100%;
    min-height: 1050px;
    clear: both;
    background: white;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
}
#history {
    width: 38%;
    float: left;
    padding: 10px;
    margin: 20px;
    border: grey;
}
#more-about {
    float: right;
    width: 56%;
    padding: 10px;
    margin: 20px;
    border: 5px;
    min-height: 1000px;
}

/* interest in*/
.interest-in {
    background-origin: padding-box;
    color: black;
    text-align: center;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.technologies {
    background-origin: padding-box;
    color: black;
    text-align: center;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.clients {
    background-origin: padding-box;
    color: black;
    text-align: center;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
    padding: 10px;
}
/* events dan article*/
.events {
    background-origin: padding-box;
    color: black;
    text-align: center;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.events-container {
    width: 100%;
    min-height: 1050px;
    clear: both;
    background: white;
    box-shadow: inset 1px 9px 15px -9px rgba(0, 0, 0, 0.6);
}
#events {
    width: 60%;
    float: left;
    padding: 10px;
    margin: 20px;
    border: grey;
}
#populers-post {
    float: right;
    width: 34%;
    padding: 10px;
    margin: 20px;
    border: 5px;
    min-height: 1000px;
}
/* Career */
.career-container {
    min-height: 1000px;
    margin: 20px;
}
.apply-now {
    border: solid;
    border-radius: 1rem;
    background: #132b4f;
    min-height: 850px;
    padding: 5%;
    color: white;
}
#foto-career-job {
    display: block;
    margin: auto;
}
/*admin */
.navigation {
    background-color: white;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}
